.nav {
    display: flex;
    padding-top: 2rem;
}

.nav-links {
    display: flex;
}

.brand {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-left: 4rem;
    margin-right: 14rem;
}

.nav-links li {
text-transform: capitalize;
list-style: none;
margin-left: 2.5rem;
margin-top: 0.8rem;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.nav-links li:nth-last-child(4) {
    margin-left: 13rem;
    margin-right: 0;
}

.nav-links li:nth-last-child(3) {
    margin-left: 0.8rem;
}

.nav-links li:nth-last-child(1) {
    margin-right: 3rem;
    margin-left: 0.8rem;
}

.user {
    font-size: 1.3rem;
}

/*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
    .nav {
        display: block;
        margin: 0;
        max-width: 100vw;
        /* padding-bottom: 35rem; */
       }
    
    .nav-links {
        display: block;
        text-align: center;
        margin: 0;
    }
    
    .brand {
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-top: 2rem;
    }
    
    .nav-links li {
    text-transform: capitalize;
    list-style: none;
    margin-top: 0.8rem;
    text-align: center;
    margin-left: 0;
    margin-right: 2.2rem;
    font-size: 1.2rem;
    }
    
    .nav-links li a {
        text-decoration: none;
        color: black;
        font-size: 1rem;

    }

    .nav-links li:nth-last-child(4){
        margin-left: 0;
        margin-right: 2.1rem;
    }
    
    .nav-links li:nth-last-child(3) {
       margin-right: 0rem;
    }


    .nav-links li:nth-last-child(2){
        margin-left: 0;
        margin-right: 2.1rem;
    }

    
    .nav-links li:nth-last-child(1) {
       margin-top: 2rem;
       margin-right: 6.1rem;
       margin-left: 0;
    }
    
    .user {
        position: absolute;
        top: 0.5rem;
        left: 3rem;
    }

}
