.btn {
        font-size: 1.3rem;
    border-style: none;
    background: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    /*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
    .btn {
        margin-top: 0.8rem;
        margin-right: 2.5rem;
        font-size: 1.1rem;
    }
}