.menu {
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 45rem;
}

.hr {
    width: 2rem;
    height: 0.2rem;
    background-color: rgb(190, 16, 16);
    color: red;
    border-style: none;
    position: absolute;
    top: 130.5rem;
margin-left: 6rem;
}

.menu-para {
    text-transform: uppercase;  
    font-size: 1.3rem;
    color: rgba(129, 55, 21, 0.808);
    margin-left: 6rem;
}

.menu-text-header {
    text-transform: capitalize;
    font-size: 3rem;
    color: rgb(85, 30, 4);
}