.newsletter {
    margin-left: 15rem;
    margin-right: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsletter p:nth-child(2) {
    color: gray;
    margin-right: 5rem;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.newsletter input {
    border-style: none;
    padding: 1.5rem;
    width: 23rem;
}

.arrow {
    position: absolute;
    right: 15rem;
    margin-top: 1.5rem;
}


/*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
    .newsletter {
        margin: 0 2rem;
        position: absolute;
        bottom: -136rem;
     }
  
     .newsletter input {
        width: 19rem;
    }
  
    .arrow {
        display: none;
    }
}