.explore-links {
    margin-left: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.explore-links h4{
margin-left: 3rem;
text-transform: capitalize;
}

.explore-links ul {
    margin-left: 0.6rem;
    margin-top: 1.3rem;
}

.explore-links li {
    margin-top: 1rem;
}

.explore-links ul li a {
    color: gray;
}

/*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
    .explore-links {
        margin-left: 12rem;
    position: absolute;
    bottom: -150.9rem;
}
}