.text {
    margin-top: 8rem;
}

.footer {
    display: flex;
    margin-top: 13rem;
    margin-left: 12rem;
    margin-right: 2rem;
}

 .text h2 {
    text-transform: uppercase;
    margin-left: 10rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: -212rem;
}

.copyright {
    display: flex;
    color: gray;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.copyright ul {
    display: flex;
    color: gray; 
    margin-left: 15rem;
    margin-right: 20rem;
}

.copyright ul a {
    color: gray;
}