.text {
    margin-top: 8rem;
}

.footer {
    display: flex;
    margin-top: 13rem;
    margin-left: 12rem;
    margin-right: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 .text h2 {
    text-transform: uppercase;
    margin-left: 10rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: -213rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.copyright {
    display: flex;
    color: gray;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.copyright ul {
    display: flex;
    color: gray; 
    margin-left: 15rem;
    margin-right: 20rem;
}

.copyright ul a {
    color: gray;
}

.icon {
    margin-right: 0.2rem;
    margin-top: 1.1rem;
}

/*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
    .text h2 {
        margin-left: 0rem;
        text-align: center;
        font-size: 1.4rem;
        position: absolute;
        bottom: 0;    }
}