.img {
    border-radius: 50%;
    width: 12%;
    height: 10%;
    margin-left: 3rem;
    margin-top: 2rem;
}

.review-image {
    display: flex;
}

.text {
    display: block;
}

.text h4 {
    margin-top: 3rem;
    margin-left: 1.4rem;
    text-transform: capitalize;
}

.text p {
    font-size: 1rem;
    position: absolute;
    bottom: -136rem;
    color: gray;
    right: 20rem;
}


/*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
    .img {
        margin: 1rem 0 0 3rem;
    }

    .text h4 {
     margin: 1.1rem 0 0 1.4rem;
         }

         .text p {
            position: absolute;
            bottom: -83.5rem;
            right: 2.5rem;
            font-size: 0.7rem;
            margin-right: 1.5rem;
        }
}