@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Atma&family=Cookie&family=Lobster+Two:ital@1&family=Montserrat:wght@100&family=Roboto:ital,wght@0,100;1,100&family=Shadows+Into+Light&family=Short+Stack&display=swap');


body {
  background-image: url('../src/assets/sincerely-media-56pMIREBAcg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0;
}



/*MEDIA QUERY*/

/*Mobile*/

@media only screen and (max-width: 480px) {
 body {
 background-image: url('../src/assets/sincerely-media-56pMIREBAcg-unsplash.jpg');
   background-repeat: no-repeat;
   background-size:auto;
 }
}

