.recipe {
    margin-top: 12rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 9rem;
}

.hr {
    width: 2rem;
    height: 0.2rem;
    background-color: rgb(190, 16, 16);
    color: red;
    border-style: none;
    position: absolute;
    top: 93.5rem;
}

.recipe-text {
    margin-left: 9rem;
    margin-right: 9rem;
}

.recipe-para {
    text-transform: uppercase;
    color: rgba(129, 55, 21, 0.808);
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

 .recipe-text-header {
    text-transform: capitalize;
    font-size: 3rem;
    color: rgb(85, 30, 4);
}

.recipe-text-para {
    font-size: 1.3rem;
    color: rgb(73, 73, 73);
    margin-right: 58rem;
}